# Ignore everything by default
/*

# But keep these two folders
!/Assets/
!/ProjectSettings/

# Inside Assets, ignore everything except Script folder
/Assets/*
!/Assets/Script/
!/Assets/Script/*.meta

# Keep .gitignore itself
!.gitignore